.footer {
    background: #000;
    height: 208px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7.7%;
}

.footer_addres {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}

.footer_tell {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration-skip-ink: none;
    color: #fff;
}

.footer_contact {
    text-align: center;
}

.footer_soc {
    display: flex;
    gap: 50px;
}